<div class="min-h-screen p-6 ">
      <!-- Header -->
      <div class="flex justify-between items-center mb-8">
            <h1 class="text-2xl font-bold text-gray-800">Welcome, Farmer John!</h1>
            <div class="flex items-center gap-4">
                  <button
                        class="px-4 py-2 text-sm font-medium text-[#252525] rounded border border-[#CDCDCD] flex items-center gap-1 hover:bg-primary hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
                              <path fill="currentColor"
                                    d="M12 15.575q-.2 0-.375-.062T11.3 15.3l-3.6-3.6q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L11 12.15V5q0-.425.288-.712T12 4t.713.288T13 5v7.15l1.875-1.875q.3-.3.713-.288t.712.313q.275.3.288.7t-.288.7l-3.6 3.6q-.15.15-.325.213t-.375.062M6 20q-.825 0-1.412-.587T4 18v-2q0-.425.288-.712T5 15t.713.288T6 16v2h12v-2q0-.425.288-.712T19 15t.713.288T20 16v2q0 .825-.587 1.413T18 20z" />
                        </svg>
                        Download
                  </button>
                  <button
                        class="px-4 py-2 text-sm font-medium text-[#252525] rounded border border-[#CDCDCD] flex items-center gap-1 hover:bg-primary hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 256 256">
                              <g fill="none" stroke-width="16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          d="m 64,80 h 128 c 16,0 29.33333,16 32,32 l 16,96 c 2.66807,16.00842 -16,32 -32,32 H 48 C 32,240 13.33193,224.00842 16,208 L 32,112 C 34.666667,96 48,80 64,80 Z" />
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          d="M 80,112 V 63.814079" />
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          d="m 176,64 v 48" />
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          d="M 19.090159,191.31828 H 236.90984" />
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          d="M 176,64 C 176,48 166.70076,30.94703 151.90703,22.405869 137.1133,13.86471 118.88668,13.86471 104.09296,22.40587 89.299233,30.947031 80.000002,48 80,64" />
                                    <rect width="80" height="16" x="16" y="240" />
                              </g>
                        </svg>
                        View Market
                  </button>
                  <button
                        class="px-4 py-2 text-sm font-medium text-[#252525] rounded border border-[#CDCDCD] flex items-center gap-1 hover:bg-primary hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
                              <path fill="currentColor"
                                    d="M17 18a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2M1 2h3.27l.94 2H20a1 1 0 0 1 1 1c0 .17-.05.34-.12.5l-3.58 6.47c-.34.61-1 1.03-1.75 1.03H8.1l-.9 1.63l-.03.12a.25.25 0 0 0 .25.25H19v2H7a2 2 0 0 1-2-2c0-.35.09-.68.24-.96l1.36-2.45L3 4H1zm6 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2m9-7l2.78-5H6.14l2.36 5z" />
                        </svg>
                        Buy Credits
                  </button>
            </div>
      </div>

      <!-- Stats Cards -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
            <div class="bg-green-100 p-4 rounded shadow relative overflow-hidden">
                  <div class="absolute -right-14 -top-16">
                        <div class="flex justify-center items-center p-6 rounded-full bg-[#1B964433] w-fit">
                              <div class="flex justify-center items-center p-2 rounded-full bg-primary h-24 w-24">
                              </div>
                        </div>
                  </div>
                  <div
                        class="flex justify-center items-center p-1 rounded-full border-dashed border-2 border-primary w-fit">
                        <div class="flex justify-center items-center p-2 rounded-full bg-primary w-fit">
                              <img src="assets/images/carbon_credit.png">
                        </div>
                  </div>
                  <h2 class="text-sm font-semibold text-[#252525] mt-3">Carbon Credits</h2>
                  <p class="text-3xl font-bold text-[#252525]">85</p>
            </div>
            <div class="bg-green-100 p-4 rounded shadow relative overflow-hidden">
                  <div class="absolute -right-14 -top-16">
                        <div class="flex justify-center items-center p-6 rounded-full bg-[#1B964433] w-fit">
                              <div class="flex justify-center items-center p-2 rounded-full bg-primary h-24 w-24">
                              </div>
                        </div>
                  </div>
                  <div
                        class="flex justify-center items-center p-1 rounded-full border-dashed border-2 border-primary w-fit">
                        <div class="flex justify-center items-center p-2 rounded-full bg-primary w-fit">
                              <img src="assets/images/Environmental_Impact.png">
                        </div>
                  </div>
                  <h2 class="text-sm font-semibold text-[#252525] mt-3">Environmental Impact</h2>
                  <div class="flex items-baseline gap-1">
                        <p class="text-3xl font-bold text-[#252525] mt-1">8,000 T</p>
                        <p class="text-xs font-bold text-[#252525]">(₹3,20,000)</p>
                  </div>
            </div>
            <div class="bg-green-100 p-4 rounded shadow relative overflow-hidden">
                  <div class="absolute -right-14 -top-16">
                        <div class="flex justify-center items-center p-6 rounded-full bg-[#1B964433] w-fit">
                              <div class="flex justify-center items-center p-2 rounded-full bg-primary h-24 w-24">
                              </div>
                        </div>
                  </div>
                  <div
                        class="flex justify-center items-center p-1 rounded-full border-dashed border-2 border-primary w-fit">
                        <div class="flex justify-center items-center p-2 rounded-full bg-primary w-fit">
                              <img src="assets/images/Available_Balance.png">
                        </div>
                  </div>
                  <h2 class="text-sm font-semibold text-[#252525] mt-3">Available Balance</h2>
                  <p class="text-3xl font-bold text-[#252525] mt-1">12,000</p>
            </div>
      </div>

      <!-- Impact Analysis -->
      <div class="bg-white p-6 rounded shadow mb-8">
            <div class="flex justify-between items-center mb-4">
                  <h3 class="text-lg font-bold text-gray-800">Impact Analysis</h3>
                  <div class="flex items-center gap-3">
                        <div class="flex items-center gap-1">
                              <input type="radio" class="h-4 w-4 accent-primary" name="type" id="yearly">
                              <label for="yearly" class="text-[#2B303466]">Yearly</label>
                        </div>
                        <div class="flex items-center gap-1">
                              <input type="radio" class="h-4 w-4 accent-primary" name="type" id="monthly">
                              <label for="monthly" class="text-[#2B303466]">Monthly</label>
                        </div>
                  </div>
            </div>
            <!-- Chart Placeholder -->
            <div>
                  <canvas id="impactChart" class="h-40"></canvas>
            </div>
      </div>

      <!-- Summary and Purchase History -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Marketplace Summary -->
            <div class="bg-white p-6 rounded shadow">
                  <h3 class="text-lg font-bold text-gray-800 mb-4">Projects Overview</h3>
                  <table class="w-full text-sm text-left">
                        <thead>
                              <tr class="text-gray-600">
                                    <th class="pb-2">Project Name</th>
                                    <th class="pb-2">Status</th>
                                    <th class="pb-2">Credits Earned</th>
                                    <th class="pb-2">Revenue</th>
                              </tr>
                        </thead>
                        <tbody>
                              <tr class="text-gray-800">
                                    <td class="py-1">Project Meadow</td>
                                    <td><span class="px-3 py-1 rounded text-sm bg-green-100 text-green-600"> Active
                                          </span></td>
                                    <td>12,000</td>
                                    <td>₹30,000</td>
                              </tr>
                              <tr class="text-gray-800">
                                    <td class="py-1">GreenTree Initiative</td>
                                    <td><span class="px-3 py-1 rounded text-sm bg-green-100 text-green-600"> Active
                                          </span></td>
                                    <td>15,000</td>
                                    <td>₹40,000</td>
                              </tr>
                        </tbody>
                  </table>
            </div>

            <div class="bg-white p-6 rounded shadow">
                  <h3 class="text-lg font-bold text-gray-800 mb-4">Sales History</h3>
                  <table class="w-full text-sm text-left">
                        <thead>
                              <tr class="text-gray-600">
                                    <th class="pb-2">Product Name</th>
                                    <th class="pb-2">Credits Sold</th>
                                    <th class="pb-2">Revenue Earned</th>
                                    <th class="pb-2">Date</th>
                              </tr>
                        </thead>
                        <tbody>
                              <tr class="text-gray-800">
                                    <td class="py-1">Project Greenfield</td>
                                    <td>50</td>
                                    <td>₹50,000</td>
                                    <td>24 Jan 2024</td>
                              </tr>
                              <tr class="text-gray-800">
                                    <td class="py-1">Oxygen Oasis</td>
                                    <td>30</td>
                                    <td>₹30,000</td>
                                    <td>12 Feb 2024</td>
                              </tr>
                        </tbody>
                  </table>
            </div>
      </div>
</div>