<app-loader *ngIf="loading"></app-loader>
<div class="min-h-screen md:p-6 p-4 mx-auto mt-5">
      <h1 class="text-2xl text-[#2B2B2B] my-3 font-semibold">{{headingText}} History</h1>
      <div class="relative bg-white p-6 rounded shadow">
            <div
                  class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4">
                  <!-- <div class="relative">
                        <div
                              class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                              <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                              </svg>
                        </div>
                        <input type="text" id="table-search-users"
                              class="border border-gray-300 rounded-lg px-4 pl-8 py-2 focus:outline outline-primary text-sm bg-transparent"
                              placeholder="Search">
                  </div> -->
            </div>
            <div class="table-div">
                  <div class="overflow-y-auto max-h-[60vh]">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                              <thead class="text-xs text-white uppercase bg-primary sticky top-0">
                                    <tr>
                                          <th scope="col" class="px-6 py-3">S No.</th>
                                          <th *ngFor="let column of columns" scope="col"
                                                class="px-6 py-3 whitespace-nowrap">{{
                                                column.label }}</th>
                                    </tr>
                              </thead>
                              <tbody>
                                    @if(HistoryData.length > 0){
                                    <tr *ngFor="let row of HistoryData; let i = index"
                                          class="bg-white border-b hover:bg-gray-50">
                                          <td class="px-6 py-4">{{ i + 1 }}</td>

                                          <td *ngFor="let column of columns" class="px-6 py-4 whitespace-nowrap">
                                                <ng-container *ngIf="column.type === 'status'; else dateCheck">
                                                      <div class="flex items-center">
                                                            <div class="h-2.5 w-2.5 rounded-full me-2"
                                                                  [ngClass]="getStatusClass(row[column.key])"></div>
                                                            {{ row[column.key] }}
                                                      </div>
                                                </ng-container>

                                                <ng-template #dateCheck>
                                                      <ng-container *ngIf="column.type === 'date'; else price">
                                                            {{ row[column.key] | date: 'mediumDate' }}
                                                      </ng-container>
                                                </ng-template>

                                                <ng-template #price>
                                                      <ng-container *ngIf="column.type === 'price'; else action">
                                                            {{ row[column.key] | currency: 'INR' }}
                                                      </ng-container>
                                                </ng-template>

                                                <ng-template #defaultCell>
                                                      {{ row[column.key] }}
                                                </ng-template>

                                                <ng-template #action>
                                                      <ng-container *ngIf="column.type === 'action'; else defaultCell">
                                                            <div class="flex items-center gap-2 justify-center">
                                                                  <svg (click)="showDialog(row)" class="cursor-pointer"
                                                                        xmlns="http://www.w3.org/2000/svg" width="1.3em"
                                                                        height="1.3em" viewBox="0 0 24 24">
                                                                        <g fill="none" stroke="currentColor"
                                                                              stroke-linecap="round"
                                                                              stroke-linejoin="round" stroke-width="1.5"
                                                                              color="currentColor">
                                                                              <path
                                                                                    d="M20.016 2C18.903 2 18 4.686 18 8h2.016c.972 0 1.457 0 1.758-.335c.3-.336.248-.778.144-1.661C21.64 3.67 20.894 2 20.016 2" />
                                                                              <path
                                                                                    d="M18 8.054v10.592c0 1.511 0 2.267-.462 2.565c-.755.486-1.922-.534-2.509-.904c-.485-.306-.727-.458-.996-.467c-.291-.01-.538.137-1.062.467l-1.911 1.205c-.516.325-.773.488-1.06.488s-.545-.163-1.06-.488l-1.91-1.205c-.486-.306-.728-.458-.997-.467c-.291-.01-.538.137-1.062.467c-.587.37-1.754 1.39-2.51.904C2 20.913 2 20.158 2 18.646V8.054c0-2.854 0-4.28.879-5.167C3.757 2 5.172 2 8 2h12M6 6h8m-6 4H6" />
                                                                              <path
                                                                                    d="M12.5 10.875c-.828 0-1.5.588-1.5 1.313c0 .724.672 1.312 1.5 1.312s1.5.588 1.5 1.313c0 .724-.672 1.312-1.5 1.312m0-5.25c.653 0 1.209.365 1.415.875m-1.415-.875V10m0 6.125c-.653 0-1.209-.365-1.415-.875m1.415.875V17" />
                                                                        </g>
                                                                  </svg>
                                                                  <svg *ngIf="role !== 'Approver'"
                                                                        (click)="requestDialog(row)"
                                                                        title="Request For Certificate"
                                                                        class="cursor-pointer"
                                                                        xmlns="http://www.w3.org/2000/svg" width="1.5em"
                                                                        height="1.5em" viewBox="0 0 48 48">
                                                                        <path fill="none" stroke="currentColor"
                                                                              stroke-linecap="round"
                                                                              stroke-linejoin="round"
                                                                              d="M31.5 27.604V16.5H20.396m11.104 0l-15 15"
                                                                              stroke-width="2" />
                                                                        <circle cx="24" cy="24" r="21.5" fill="none"
                                                                              stroke="currentColor"
                                                                              stroke-linecap="round"
                                                                              stroke-linejoin="round"
                                                                              stroke-width="2" />
                                                                  </svg>
                                                            </div>
                                                      </ng-container>
                                                </ng-template>
                                          </td>
                                    </tr>
                                    } @else {
                                    <tr>
                                          <td [attr.colspan]="columns.length" class="text-center">No Data Found</td>
                                    </tr>
                                    }
                              </tbody>
                        </table>
                  </div>
                  <p-paginator styleClass="pagination-dropdown" (onPageChange)="onPageChange($event)" [first]="first"
                        [rows]="rows" [totalRecords]="totalCount" [rowsPerPageOptions]="[5, 10, 20]"></p-paginator>
            </div>
      </div>
      <p-confirmDialog [closable]="false" styleClass="bg-white px-10 py-5 rounded-lg shadow-md"></p-confirmDialog>
</div>