<app-loader *ngIf="loading"></app-loader>
<div class="container mx-auto mt-5">
      <h1 class="text-2xl text-[#2B2B2B] my-3 font-semibold">{{headingText}} History</h1>
      <div class="relative shadow-md sm:rounded-lg p-3 bg-[#F9F9F9]">
            <div
                  class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4">
                  <div class="relative">
                        <div
                              class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                              <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                              </svg>
                        </div>
                        <input type="text" id="table-search-users"
                              class="border border-gray-300 rounded-lg px-4 pl-8 py-2 focus:outline outline-primary text-sm bg-transparent"
                              placeholder="Search for users">
                  </div>
            </div>
            <div class="table-div">
                  <div class="overflow-y-auto max-h-[60vh]">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                              <thead class="text-xs text-white uppercase bg-primary-gradient sticky top-0">
                                    <tr>
                                          <th scope="col" class="px-6 py-3">S No.</th>
                                          <th *ngFor="let column of columns" scope="col" class="px-6 py-3">{{
                                                column.label }}</th>
                                    </tr>
                              </thead>
                              <tbody>
                                    <tr *ngFor="let row of HistoryData; let i = index"
                                          class="bg-white border-b hover:bg-gray-50">
                                          <td class="px-6 py-4">{{ i + 1 }}</td>

                                          <td *ngFor="let column of columns" class="px-6 py-4 whitespace-nowrap">
                                                <ng-container *ngIf="column.type === 'status'; else dateCheck">
                                                      <div class="flex items-center">
                                                            <div class="h-2.5 w-2.5 rounded-full me-2"
                                                                  [ngClass]="getStatusClass(row[column.key])"></div>
                                                            {{ row[column.key] }}
                                                      </div>
                                                </ng-container>

                                                <ng-template #dateCheck>
                                                      <ng-container *ngIf="column.type === 'date'; else price">
                                                            {{ row[column.key] | date: 'mediumDate' }}
                                                      </ng-container>
                                                </ng-template>

                                                <ng-template #price>
                                                      <ng-container *ngIf="column.type === 'price'; else defaultCell">
                                                            {{ row[column.key] | currency: 'USD' }}
                                                      </ng-container>
                                                </ng-template>

                                                <ng-template #defaultCell>
                                                      {{ row[column.key] }}
                                                </ng-template>
                                          </td>
                                    </tr>
                              </tbody>
                        </table>
                  </div>
                  <p-paginator styleClass="pagination-dropdown" (onPageChange)="onPageChange($event)" [first]="first"
                        [rows]="rows" [totalRecords]="totalCount" [rowsPerPageOptions]="[5, 10, 20]"></p-paginator>
            </div>
      </div>
      <p-confirmDialog [closable]="false" styleClass="bg-white px-10 py-5 rounded-lg shadow-md"></p-confirmDialog>
</div>