<div class="min-h-screen md:p-6 p-4 mx-auto mt-5">

    <div class="block xl:flex gap-4 ">
        <div class="relative bg-white p-6 rounded shadow">
            <div class=" flex-wrap  pb-8">
                <h4 class="text-2xl font-semibold">Shopping Cart</h4>
            </div>

            <div>
                <div class="hidden lg:block">
                    <p class="mb-1 text-end">Price</p>
                    <hr class="mb-3" />
                </div>
                <div>
                    <div class="ct_grid_2 ct_border_bottom">
                        <div class="">
                            <img src="assets/images/profile_logo.jpg" alt="" class="w-full h-[150px] object-cover">
                        </div>
                        <div>
                            <div class="grid lg:flex  gap-4 xl:gap-[200px]">
                                <div>
                                    <h4 class="text-xl font-sm mb-1">Havells Electric Kettle Aqua Plus 1250 Watts 1.2
                                        liters
                                        ,
                                        Double
                                        Layered
                                        Cool Touch
                                        Outer Body | 304 Rust Resistant SS Inner Body with Auto Shut Off | Wider Mouth |
                                        2…
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    <div class="flex items-center justify-between mt-2">
                                        <p class=" text-gray-700"><span class="font-semibold">Remaining credits :
                                            </span>
                                            <span class="text-black">300 tCO₂e</span>
                                        </p>
                                    </div>
                                    <p class="mt-1  text-gray-700"><span class="font-medium">Location: </span> xyz
                                        united
                                        state
                                    </p>
                                </div>
                                <h3 class=" whitespace-nowrap"><span class="text-xl font-semibold ">₹7000</span> <span
                                        class="font-medium"> /
                                        tCO₂e</span></h3>

                            </div>
                            <div class="mt-6 flex items-center gap-4">
                                <div class="relative sm:w-[180px]"><button
                                        class="absolute left-0 w-[29px] h-[29px] bg-[#eef1f9] m-1 rounded-md  hover:bg-primary hover:text-white">

                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <p class="absolute right-[40px] top-[20%]  text-gray-600 font-medium">
                                        tCO₂e</p>
                                    <input type="number" min="1" value="1"
                                        class="border border-gray-300 pl-10 rounded-lg px-4 py-2 focus:outline outline-primary ps-3 text-sm bg-transparent w-full font-semibold ng-pristine ng-valid ng-touched"
                                        ng-reflect-min="1" ng-reflect-model="1">
                                    <button
                                        class="absolute right-0 w-[29px] h-[29px] bg-[#eef1f9] m-1 rounded-md hover:bg-primary hover:text-white">


                                        <i class="fa-solid fa-minus"></i>

                                    </button>
                                </div>
                                <a href="#" class="hover:text-[#ff0000]">Delete</a>
                            </div>


                        </div>


                    </div>
                    <div class="ct_grid_2 ct_border_bottom">
                        <div class="">
                            <img src="assets/images/profile_logo.jpg" alt="" class="w-full h-[150px] object-cover">
                        </div>
                        <div>
                            <div class="grid lg:flex  gap-4 lg:gap-[200px]">
                                <div>
                                    <h4 class="text-xl font-sm mb-1">Havells Electric Kettle Aqua Plus 1250 Watts 1.2
                                        liters
                                        ,
                                        Double
                                        Layered
                                        Cool Touch
                                        Outer Body | 304 Rust Resistant SS Inner Body with Auto Shut Off | Wider Mouth |
                                        2…
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    <div class="flex items-center justify-between mt-2">
                                        <p class=" text-gray-700"><span class="font-semibold">Remaining credits :
                                            </span>
                                            <span class="text-black">300 tCO₂e</span>
                                        </p>
                                    </div>
                                    <p class="mt-1  text-gray-700"><span class="font-medium">Location: </span> xyz
                                        united
                                        state
                                    </p>
                                </div>
                                <h3 class=" whitespace-nowrap"><span class="text-xl font-semibold ">₹7000</span> <span
                                        class="font-medium"> /
                                        tCO₂e</span></h3>

                            </div>
                            <div class="mt-6 flex items-center gap-4">
                                <div class="relative sm:w-[180px]"><button
                                        class="absolute left-0 w-[29px] h-[29px] bg-[#eef1f9] m-1 rounded-md  hover:bg-primary hover:text-white">

                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <p class="absolute right-[40px] top-[20%]  text-gray-600 font-medium">
                                        tCO₂e</p>
                                    <input type="number" min="1" value="1"
                                        class="border border-gray-300 pl-10 rounded-lg px-4 py-2 focus:outline outline-primary text-sm bg-transparent w-full font-semibold ng-pristine ng-valid ng-touched"
                                        ng-reflect-min="1" ng-reflect-model="1">
                                    <button
                                        class="absolute right-0 w-[29px] h-[29px] bg-[#eef1f9] m-1 rounded-md hover:bg-primary hover:text-white">


                                        <i class="fa-solid fa-minus"></i>

                                    </button>
                                </div>
                                <a href="#" class="hover:text-[#ff0000]">Delete</a>
                            </div>


                        </div>


                    </div>

                </div>

            </div>



        </div>
        <div class="relative bg-white p-6 rounded shadow shrink-0 h-max xl:w-[300px] mt-4 xl:mt-0">
            <div class="">
                <h4 class="mb-4 font-semibold text-2xl">Summary</h4>
                <div class="flex items-center gap-3 justify-between py-2">
                    <p class="mb-0 font-semibold">Subtotal (2 items)</p>
                    <p class="mb-0">₹7000</p>
                </div>
                <div class="flex items-center gap-3 justify-between py-2">
                    <p class="mb-0 font-semibold">GST 18%</p>
                    <p class="mb-0">₹1,260</p>
                </div>
                <div class="flex items-center gap-3 justify-between py-2">
                    <p class="mb-0 font-semibold">Grand Total</p>
                    <p class="mb-0">₹8,260</p>
                </div>
                <div class="mt-5">
                    <a class="text-white bg-primary px-6 py-2 hover:bg-transparent hover:text-primary rounded-md border border-primary flex items-center justify-center space-x-2 font-medium"
                        role="button">

                        Proceed to Buy
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>