<app-loader *ngIf="loading"></app-loader>
@if(!loading){
<div class="min-h-screen md:p-6 p-4 mx-auto mt-5">
    <div class="relative bg-white p-6 rounded shadow">
        <div class=" flex-wrap  pb-8">
            <h4 class="text-2xl font-semibold">My Cart</h4>
        </div>
        @if(cartItems.length > 0){
        <div>
            <div class="hidden lg:block">
                <p class="mb-1 text-end">Price</p>
                <hr class="mb-3" />
            </div>
            <div>
                @for (item of cartItems; track $index) {
                <div class="ct_grid_2 ct_border_bottom">
                    <div class="">
                        <img [src]="baseUrl + item.thumbnail" alt="" class="w-full h-[150px] object-cover">
                    </div>
                    <div>
                        <div class="grid lg:flex justify-between gap-4 lg:gap-[200px]">
                            <div>
                                <h4 class="text-xl font-sm mb-1">{{item.project_name}}
                                </h4>
                                <p>{{item.project_subtitle}}</p>
                                <div class="flex items-center justify-between mt-2">
                                    <p class=" text-gray-700"><span class="font-semibold">Remaining credits : </span>
                                        <span class="text-black">{{item.remaining_credit}} tCO₂e</span>
                                    </p>
                                </div>
                                <div class="flex items-center justify-between mt-2">
                                    <p class=" text-gray-700"><span class="font-semibold">Price Per tCO₂e : </span>
                                        <span
                                            class="text-black">{{item.price_per_carbon_credit | currency:'INR'}}</span>
                                    </p>
                                </div>
                                <p class="mt-1  text-gray-700"><span class="font-medium">Location: </span> xyz united
                                    state
                                </p>
                            </div>
                            <h3 class=" whitespace-nowrap"><span class="text-xl font-semibold ">
                                    {{item.price_per_carbon_credit
                                *
                                item?.carbon_credits?.toString().split('.')[0] | currency:'INR'
                                }}</span></h3>

                        </div>
                        <div class="mt-6 flex items-center gap-4">
                            <div class="relative sm:w-[180px]"><button (click)="increment(item)"
                                    class="absolute left-0 w-[29px] h-[29px] bg-[#eef1f9] m-1 rounded-md  hover:bg-primary hover:text-white">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                                <p class="absolute right-[40px] top-[20%]  text-gray-600 font-medium">
                                    {{
                                        item?.carbon_credits?.toString().split('.')[0]
                                        }} &nbsp;
                                    tCO₂e
                                </p>
                                <input type="number" min="1" value="1"
                                    class="border border-gray-300 pl-10 rounded-lg px-4 py-2 focus:outline outline-primary ps-3 text-sm bg-transparent w-full font-semibold ng-pristine ng-valid ng-touched"
                                    ng-reflect-min="1" ng-reflect-model="1">
                                <button (click)="decrement(item)"
                                    class="absolute right-0 w-[29px] h-[29px] bg-[#eef1f9] m-1 rounded-md hover:bg-primary hover:text-white">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </div>
                            <button type="button" (click)="deleteFromCart(item)"
                                class="font-medium text-red-600 hover:text-red-500">Remove</button>
                        </div>
                    </div>
                </div>
                }
            </div>

            <div class="w-[280px] md-w-[300px] mt-6 ms-auto">
                <div class="bg-[#f5f5f5] p-4 rounded-md">
                    <h4 class="mb-4 font-semibold text-2xl">Summary</h4>
                    <div class="flex items-center gap-3 justify-between py-2">
                        <p class="mb-0 font-semibold">Subtotal (2 items)</p>
                        <p class="mb-0">₹7000</p>
                    </div>
                    <div class="flex items-center gap-3 justify-between py-2">
                        <p class="mb-0 font-semibold">GST 18%</p>
                        <p class="mb-0">₹1,260</p>
                    </div>
                    <div class="flex items-center gap-3 justify-between py-2">
                        <p class="mb-0 font-semibold">Grand Total</p>
                        <p class="mb-0">₹8,260</p>
                    </div>
                    <div class="mt-5">
                        <a (click)="checkOut(cartItems)"
                            class="text-white bg-primary px-6 py-2 hover:bg-transparent hover:text-primary rounded-md border border-primary flex items-center justify-center space-x-2 font-medium"
                            role="button">
                            Proceed to Buy
                        </a>
                    </div>

                </div>

            </div>
        </div>
        } @else {
        <div class="flex items-center justify-center">
            <div class="grid justify-center">
                <img src="assets/images/1000_F_449799695_7URBHjqZl4xLFxNH3HvnvuPuKg7u84NP.jpg" alt="empty cart"
                    class="w-[300px]">
                <h4 class="text-xl font-semibold text-center text-gray-500">Your Cart is Empty</h4>
                <h4 class="text-base font-semibold text-center text-gray-500">Loos Like You Have't Added Made Any Choice
                </h4>
                <div class="flex items-center justify-center mt-3">
                    <a routerLink="/marketplace/projects" title=""
                        class="text-white bg-primary px-6 py-2 hover:bg-transparent hover:text-primary rounded-md border border-primary font-medium"
                        role="button">
                        Start Buying
                    </a>
                </div>
            </div>
        </div>
        }
    </div>
</div>
}