<div class="min-h-screen md:p-6 p-4 mx-auto mt-5">

    <div class="relative bg-white p-6 rounded shadow">
        <div class=" flex-wrap  pb-8">
            <h4 class="text-2xl font-semibold">My Cart</h4>
        </div>
        <div class="table-div">
            <div class="overflow-y-auto max-h-[60vh]">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                    <thead class="text-xs text-white  bg-primary sticky top-0">
                        <tr>
                            <th scope="col" class="px-6 py-3 whitespace-nowrap uppercase">
                                Product
                            </th>
                            <th scope="col" class="px-6 py-3 whitespace-nowrap uppercase">
                                Quantity
                            </th>
                            <th class="px-6 py-3 whitespace-nowrap">PRICE (tCO₂e)</th>

                            <th scope="col" class="px-6 py-3 whitespace-nowrap uppercase">
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b hover:bg-gray-50">

                            <td scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap">
                                <img class="w-20 h-20 rounded-2xl" src="assets/images/profile_logo.jpg"
                                    alt="Jese image">
                                <div class="ps-3">
                                    <div class="text-base ">
                                        <h5 class="font-semibold">Borneo Peatlands</h5>
                                        <p class="mb-0"> Avoided </p>

                                        <a href="#" class="text-[#ff0000] font-semibold">Remove</a>
                                    </div>
                                </div>
                            </td>
                            <td class=" px-6 py-4 text-gray-900 whitespace-nowrap">
                                <div class="relative sm:w-48"><button class="absolute left-0 w-[37px] h-[37px]">

                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <p class="absolute right-[40px] top-[20%]  text-gray-600 font-medium">
                                        tCO₂e</p>
                                    <input type="number" min="1"
                                        class="border border-gray-300 pl-10 rounded-lg px-4 py-2 focus:outline outline-primary text-sm bg-transparent w-full font-semibold ng-pristine ng-valid ng-touched"
                                        ng-reflect-min="1" ng-reflect-model="1"><button
                                        class="absolute right-0 w-[37px] h-[37px]">


                                        <i class="fa-solid fa-minus"></i>

                                    </button>
                                </div>
                            </td>
                            <td class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap"> 1200</td>
                            <td class=" px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">
                                $200
                            </td>


                        </tr>
                        <tr class="bg-white border-b hover:bg-gray-50">

                            <td scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap">
                                <img class="w-20 h-20 rounded-2xl" src="assets/images/profile_logo.jpg"
                                    alt="Jese image">
                                <div class="ps-3">
                                    <div class="text-base ">
                                        <h5 class="font-semibold">Borneo Peatlands</h5>
                                        <p class="mb-0"> Avoided </p>

                                        <a href="#" class="text-[#ff0000] font-semibold">Remove</a>
                                    </div>
                                </div>
                            </td>
                            <td class=" px-6 py-4 text-gray-900 whitespace-nowrap">
                                <div class="relative sm:w-48"><button class="absolute left-0 w-[37px] h-[37px]">

                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <p class="absolute right-[40px] top-[20%]  text-gray-600 font-medium">
                                        tCO₂e</p>
                                    <input type="number" min="1"
                                        class="border border-gray-300 pl-10 rounded-lg px-4 py-2 focus:outline outline-primary text-sm bg-transparent w-full font-semibold ng-pristine ng-valid ng-touched"
                                        ng-reflect-min="1" ng-reflect-model="1"><button
                                        class="absolute right-0 w-[37px] h-[37px]">


                                        <i class="fa-solid fa-minus"></i>

                                    </button>
                                </div>
                            </td>
                            <td class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap"> 1200</td>
                            <td class=" px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">
                                $200
                            </td>


                        </tr>
                        <tr class="bg-white border-b hover:bg-gray-50">

                            <td scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap">
                                <img class="w-20 h-20 rounded-2xl" src="assets/images/profile_logo.jpg"
                                    alt="Jese image">
                                <div class="ps-3">
                                    <div class="text-base ">
                                        <h5 class="font-semibold">Borneo Peatlands</h5>
                                        <p class="mb-0"> Avoided </p>

                                        <a href="#" class="text-[#ff0000] font-semibold">Remove</a>
                                    </div>
                                </div>
                            </td>
                            <td class=" px-6 py-4 text-gray-900 whitespace-nowrap">
                                <div class="relative sm:w-48"><button class="absolute left-0 w-[37px] h-[37px]">

                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <p class="absolute right-[40px] top-[20%]  text-gray-600 font-medium">
                                        tCO₂e</p>
                                    <input type="number" min="1"
                                        class="border border-gray-300 pl-10 rounded-lg px-4 py-2 focus:outline outline-primary text-sm bg-transparent w-full font-semibold ng-pristine ng-valid ng-touched"
                                        ng-reflect-min="1" ng-reflect-model="1"><button
                                        class="absolute right-0 w-[37px] h-[37px]">


                                        <i class="fa-solid fa-minus"></i>

                                    </button>
                                </div>
                            </td>
                            <td class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap"> 1200</td>
                            <td class=" px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">
                                $200
                            </td>


                        </tr>
                        <tr class="bg-white border-b hover:bg-gray-50">

                            <td scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap">
                                <img class="w-20 h-20 rounded-2xl" src="assets/images/profile_logo.jpg"
                                    alt="Jese image">
                                <div class="ps-3">
                                    <div class="text-base ">
                                        <h5 class="font-semibold">Borneo Peatlands</h5>
                                        <p class="mb-0"> Avoided </p>

                                        <a href="#" class="text-[#ff0000] font-semibold">Remove</a>
                                    </div>
                                </div>
                            </td>
                            <td class=" px-6 py-4 text-gray-900 whitespace-nowrap">
                                <div class="relative sm:w-48"><button class="absolute left-0 w-[37px] h-[37px]">

                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <p class="absolute right-[40px] top-[20%]  text-gray-600 font-medium">
                                        tCO₂e</p>
                                    <input type="number" min="1"
                                        class="border border-gray-300 pl-10 rounded-lg px-4 py-2 focus:outline outline-primary text-sm bg-transparent w-full font-semibold ng-pristine ng-valid ng-touched"
                                        ng-reflect-min="1" ng-reflect-model="1"><button
                                        class="absolute right-0 w-[37px] h-[37px]">


                                        <i class="fa-solid fa-minus"></i>

                                    </button>
                                </div>
                            </td>
                            <td class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap"> 1200</td>
                            <td class=" px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">
                                $200
                            </td>


                        </tr>
                        <tr class="bg-white border-b hover:bg-gray-50">

                            <td scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap">
                                <img class="w-20 h-20 rounded-2xl" src="assets/images/profile_logo.jpg"
                                    alt="Jese image">
                                <div class="ps-3">
                                    <div class="text-base ">
                                        <h5 class="font-semibold">Borneo Peatlands</h5>
                                        <p class="mb-0"> Avoided </p>

                                        <a href="#" class="text-[#ff0000] font-semibold">Remove</a>
                                    </div>
                                </div>
                            </td>
                            <td class=" px-6 py-4 text-gray-900 whitespace-nowrap">
                                <div class="relative sm:w-48"><button class="absolute left-0 w-[37px] h-[37px]">

                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <p class="absolute right-[40px] top-[20%]  text-gray-600 font-medium">
                                        tCO₂e</p>
                                    <input type="number" min="1"
                                        class="border border-gray-300 pl-10 rounded-lg px-4 py-2 focus:outline outline-primary text-sm bg-transparent w-full font-semibold ng-pristine ng-valid ng-touched"
                                        ng-reflect-min="1" ng-reflect-model="1"><button
                                        class="absolute right-0 w-[37px] h-[37px]">


                                        <i class="fa-solid fa-minus"></i>

                                    </button>
                                </div>
                            </td>
                            <td class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap"> 1200</td>
                            <td class=" px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">
                                $200
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>