<div class="px-4 py-2 bg-[#F9F9F9] sticky top-0 border-b-2 z-30">
      <div class="flex gap-3 items-center">
            <a routerLink="/marketplace/projects"
                  class="flex items-center space-x-3 rtl:space-x-reverse cursor-pointer">
                  <img src="assets/images/logo_w_tagline.svg" class="h-8" alt="Flowbite Logo" />
            </a>
            <svg (click)="toggle()" class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="M4 5h12M4 12h16M4 19h8" color="currentColor" />
            </svg>
            <!-- <button
                  class="px-6 py-1 text-white bg-primary border border-primary hover:bg-transparent hover:text-primary font-medium rounded-full"
                  (click)="connectToMetaMask()"
                  [innerText]="isMetamaskConnected ? maskedAddress : 'Connect Wallet'"></button> -->
      </div>
</div>