<app-loader *ngIf="loading"></app-loader>
<div class="container mx-auto">
      <div class="p-5">
            <div (click)="back()" class="flex items-center space-x-1 cursor-pointer text-primary text-md font-medium">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="M5 12h14M5 12l6 6m-6-6l6-6" />
                  </svg>
                  <p>Return to the application</p>
            </div>

            <div class="mt-5 bg-[#F9F9F9] rounded-lg shadow-md lg:w-2/3 p-5">
                  <ng-container *ngIf="!userInfo">
                        <p class="text-xs text-red-600 mb-2"><strong>Notice: </strong> Your profile has not been
                              registered
                              yet.
                              Please complete the registration
                              process.</p>
                  </ng-container>
                  <form [formGroup]="updateInfoForm">
                        <div class="flex justify-center items-center">
                              <div class="relative">
                                    <img [src]="profile_img ? profile_img : userInfo?.profile_image && userInfo?.profile_image !== '0' ? baseUrl + userInfo?.profile_image : 'assets/images/profile_logo.jpg'"
                                          class="rounded-full border border-primary h-32 w-32"
                                          (click)="vievImage(profile_img ? profile_img : userInfo?.profile_image && userInfo?.profile_image !== '0' ? baseUrl + userInfo?.profile_image  : 'assets/images/profile_logo.jpg')">
                                    <input type="file" #file class="hidden" id="edit_profile"
                                          formControlName="profile_img" (change)="fileChangeEvent($event)">
                                    <div *ngIf="isEditable"
                                          class="absolute bottom-0 right-0 bg-primary text-white rounded-full p-1 cursor-pointer"
                                          (click)="file.click()">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em"
                                                viewBox="0 0 24 24">
                                                <path fill="currentColor"
                                                      d="M12 8c-2.168 0-4 1.832-4 4s1.832 4 4 4s4-1.832 4-4s-1.832-4-4-4m0 6c-1.065 0-2-.935-2-2s.935-2 2-2s2 .935 2 2s-.935 2-2 2" />
                                                <path fill="currentColor"
                                                      d="M20 5h-2.586l-2.707-2.707A1 1 0 0 0 14 2h-4a1 1 0 0 0-.707.293L6.586 5H4c-1.103 0-2 .897-2 2v11c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2M4 18V7h3c.266 0 .52-.105.707-.293L10.414 4h3.172l2.707 2.707A1 1 0 0 0 17 7h3l.002 11z" />
                                          </svg>
                                    </div>
                              </div>
                        </div>
                        <div class="flex justify-between items-center mt-5">
                              <p class="font-medium text-base text-[#1C1C1C]">Personal Data</p>
                              <ng-container *ngIf="!isEditable">
                                    <button (click)="isEditable = true"
                                          class="bg-primary border border-primary hover:bg-transparent hover:text-primary rounded text-sm py-1 px-3 text-white">{{userInfo
                                          ? 'Edit' : 'Register'}}</button>
                              </ng-container>
                              <ng-container *ngIf="isEditable">
                                    <button (click)="updateInfo()"
                                          class="bg-primary border border-primary hover:bg-transparent hover:text-primary rounded text-sm py-1 px-3 text-white">Save</button>
                              </ng-container>
                        </div>
                        <div class="mt-5">
                              <div class="flex items-center gap-3 mb-2">
                                    <p class="font-medium text-gray-400 md:w-2/5">First Name</p>
                                    <input type="text"
                                          class="form-control py-1 px-2 bg-transparent outline-none text-sm font-medium text-[#1C1C1C]"
                                          formControlName="first_name" [ngClass]="isEditable ? 'editable' : ''"
                                          [readonly]="!isEditable">
                                    <p *ngIf="
                                          updateInfoForm.controls['first_name'].errors &&
                                          updateInfoForm.controls['first_name'].touched
                                        " class="flex text-xs text-red-600 justify-between items-center mt-2">
                                          {{ getErrorMessage('first_name') }}
                                    </p>
                              </div>
                              <div class="flex items-center gap-3">
                                    <p class="font-medium text-gray-400 md:w-2/5">Last Name</p>
                                    <input type="text"
                                          class="form-control py-1 px-2 bg-transparent outline-none text-sm font-medium text-[#1C1C1C]"
                                          formControlName="last_name" [ngClass]="isEditable ? 'editable' : ''"
                                          [readonly]="!isEditable">
                                    <p *ngIf="
                                          updateInfoForm.controls['last_name'].errors &&
                                          updateInfoForm.controls['last_name'].touched
                                        " class="flex text-xs text-red-600 justify-between items-center mt-2">
                                          {{ getErrorMessage('last_name') }}
                                    </p>
                              </div>
                              <div class="my-4 grid space-y-2">
                                    <p class="font-medium text-base text-[#1C1C1C] my-4">Address Detail</p>
                                    <div class="flex items-center gap-3 ">
                                          <p class="font-medium text-gray-400 md:w-2/5">Country</p>
                                          <select type="text"
                                                class="form-control py-1 px-2 bg-transparent outline-none text-sm font-medium text-[#1C1C1C]"
                                                formControlName="country" [ngClass]="isEditable ? 'editable' : ''"
                                                [disabled]="!isEditable" (change)="getStates($event)">
                                                <option value='' disabled>Select Country</option>
                                                <option *ngFor="let country of countries" [value]="country.isoCode">
                                                      {{country.name}}
                                                </option>
                                          </select>
                                          <p *ngIf="
                                                updateInfoForm.controls['country'].errors &&
                                                updateInfoForm.controls['country'].touched
                                              " class="flex text-xs text-red-600 justify-between items-center mt-2">
                                                {{ getErrorMessage('country') }}
                                          </p>
                                    </div>
                                    <div class="flex items-center gap-3 ">
                                          <p class="font-medium text-gray-400 md:w-2/5">State</p>
                                          <select
                                                class="form-control py-1 px-2 bg-transparent outline-none text-sm font-medium text-[#1C1C1C]"
                                                formControlName="state" [ngClass]="isEditable ? 'editable' : ''"
                                                [disabled]="!isEditable" (change)="getCities($event)">
                                                <option [value]="''" disabled>Select State</option>
                                                <option *ngFor="let state of states" [value]="state.isoCode">
                                                      {{state.name}}
                                                </option>
                                          </select>
                                          <p *ngIf="
                                                updateInfoForm.controls['state'].errors &&
                                                updateInfoForm.controls['state'].touched
                                              " class="flex text-xs text-red-600 justify-between items-center mt-2">
                                                {{ getErrorMessage('state') }}
                                          </p>
                                    </div>
                                    <div class="flex items-center gap-3">
                                          <p class="font-medium text-gray-400 md:w-2/5">City</p>
                                          <select
                                                class="form-control py-1 px-2 bg-transparent outline-none text-sm font-medium text-[#1C1C1C]"
                                                formControlName="city" [ngClass]="isEditable ? 'editable' : ''"
                                                [disabled]="!isEditable">
                                                <option [value]="''" disabled>Select City</option>
                                                <option *ngFor="let city of cities" [value]="city.name">{{city.name}}
                                                </option>
                                          </select>
                                          <p *ngIf="
                                                updateInfoForm.controls['city'].errors &&
                                                updateInfoForm.controls['city'].touched
                                              " class="flex text-xs text-red-600 justify-between items-center mt-2">
                                                {{ getErrorMessage('city') }}
                                          </p>
                                    </div>
                                    <div class="flex items-center gap-3 ">
                                          <p class="font-medium text-gray-400 md:w-2/5">Street</p>
                                          <input type="text"
                                                class="form-control py-1 px-2 bg-transparent outline-none text-sm font-medium text-[#1C1C1C]"
                                                formControlName="address" [ngClass]="isEditable ? 'editable' : ''"
                                                [readonly]="!isEditable">
                                          <p *ngIf="
                                                updateInfoForm.controls['address'].errors &&
                                                updateInfoForm.controls['address'].touched
                                              " class="flex text-xs text-red-600 justify-between items-center mt-2">
                                                {{ getErrorMessage('address') }}
                                          </p>
                                    </div>
                              </div>
                              @if(type === 'I'){
                              <div class="grid md:grid-cols-2 grid-cols-1 gap-x-10">
                                    <div class="">
                                          <p class="text-sm font-normal text-gray-400">
                                                You are currently using a personal account. To use
                                                the Carbonfuture platform for your company and
                                                to share the account with other employees,
                                                please upgrade to a business account.
                                          </p>
                                    </div>
                                    <div class="flex justify-end items-center">
                                          <button (click)="type = 'C'; isEditable2 = true"
                                                class="border rounded-lg text-sm font-medium border-primary text-primary py-1 px-4 hover:bg-primary hover:text-white flex items-center space-x-2 cursor-pointer">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em"
                                                      viewBox="0 0 24 24">
                                                      <path fill="currentColor"
                                                            d="M7 20v-2h10v2zm4-4V7.825L8.4 10.4L7 9l5-5l5 5l-1.4 1.4L13 7.825V16z" />
                                                </svg>
                                                Upgrade
                                                to Business
                                                Account</button>
                                    </div>
                                    <!-- <div class="my-4 md:col-span-2">
                                                <p class="font-medium text-base text-[#1C1C1C] my-4">Banking Account</p>
                                          </div>
                                          <div class="md:col-span-2 flex justify-end items-center">
                                                <a
                                                      class="border rounded-lg text-sm font-medium border-primary text-primary py-1 px-4 hover:bg-primary hover:text-white flex items-center space-x-2 cursor-pointer">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em"
                                                            viewBox="0 0 24 24">
                                                            <path fill="currentColor" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z" />
                                                      </svg>Add banking account
                                                </a>
                                          </div> -->
                              </div>
                              }
                              @if(type === 'C'){
                              <div class="my-4 grid space-y-2">
                                    <div class="flex justify-between items-center mt-5">
                                          <p class="font-medium text-base text-[#1C1C1C]">Company Details</p>
                                          <ng-container *ngIf="!isEditable2">
                                                <button (click)="isEditable2 = true"
                                                      class="bg-primary border border-primary hover:bg-transparent hover:text-primary rounded text-sm py-1 px-3 text-white">Edit</button>
                                          </ng-container>
                                          <ng-container *ngIf="isEditable2">
                                                <button (click)="updateCompanyInfo()"
                                                      class="bg-primary border border-primary hover:bg-transparent hover:text-primary rounded text-sm py-1 px-3 text-white">Save</button>
                                          </ng-container>
                                    </div>
                                    <div class="flex items-center gap-3 ">
                                          <p class="font-medium text-gray-400 md:w-2/5">Company Name</p>
                                          <input type="text"
                                                class="form-control py-1 px-2 bg-transparent outline-none text-sm font-medium text-[#1C1C1C]"
                                                formControlName="companyName" [ngClass]="isEditable2 ? 'editable' : ''"
                                                [readonly]="!isEditable2"
                                                [placeholder]="isEditable2 ? 'Enter Company Name' : ''">
                                          <p *ngIf="
                                                updateInfoForm.controls['companyName'].errors &&
                                                updateInfoForm.controls['companyName'].touched
                                              " class="flex text-xs text-red-600 justify-between items-center mt-2">
                                                {{ getErrorMessage('companyName') }}
                                          </p>
                                    </div>
                                    @if(selectedCountry == 'in'){
                                    <div class="flex items-center gap-3">
                                          <p class="font-medium text-gray-400 md:w-2/5">GST</p>
                                          <input type="text"
                                                class="form-control py-1 px-2 bg-transparent outline-none text-sm font-medium text-[#1C1C1C]"
                                                formControlName="gst" [ngClass]="isEditable2 ? 'editable' : ''"
                                                [readonly]="!isEditable2"
                                                [placeholder]="isEditable2 ? 'Enter GST Number' : ''">
                                          <p *ngIf="
                                                updateInfoForm.controls['gst'].errors &&
                                                updateInfoForm.controls['gst'].touched
                                              " class="flex text-xs text-red-600 justify-between items-center mt-2">
                                                {{ getErrorMessage('gst') }}
                                          </p>
                                    </div>
                                    } @else {
                                    <div class="flex items-center gap-3">
                                          <p class="font-medium text-gray-400 md:w-2/5">VAT</p>
                                          <input type="text"
                                                class="form-control py-1 px-2 bg-transparent outline-none text-sm font-medium text-[#1C1C1C]"
                                                formControlName="vat" [ngClass]="isEditable2 ? 'editable' : ''"
                                                [readonly]="!isEditable2"
                                                [placeholder]="isEditable2 ? 'Enter VAT Number' : ''">
                                          <p *ngIf="
                                                updateInfoForm.controls['vat'].errors &&
                                                updateInfoForm.controls['vat'].touched
                                              " class="flex text-xs text-red-600 justify-between items-center mt-2">
                                                {{ getErrorMessage('vat') }}
                                          </p>
                                    </div>
                                    }
                                    <div class="flex items-center gap-3 ">
                                          <p class="font-medium text-gray-400 md:w-2/5">Licence</p>
                                          <input type="text"
                                                class="form-control py-1 px-2 bg-transparent outline-none text-sm font-medium text-[#1C1C1C]"
                                                formControlName="licence" [ngClass]="isEditable2 ? 'editable' : ''"
                                                [readonly]="!isEditable2"
                                                [placeholder]="isEditable2 ? 'Enter Licence Number' : ''">
                                          <p *ngIf="
                                                updateInfoForm.controls['licence'].errors &&
                                                updateInfoForm.controls['licence'].touched
                                              " class="flex text-xs text-red-600 justify-between items-center mt-2">
                                                {{ getErrorMessage('licence') }}
                                          </p>
                                    </div>
                              </div>
                              }
                        </div>
                        <p-dialog styleClass="bg-white p-2 rounded-lg shadow-md w-[22rem] md:w-[25rem]" [modal]="true"
                              [(visible)]="visible">
                              <image-cropper [imageChangedEvent]="imageChangedEvent" [aspectRatio]="3 / 3" format="png"
                                    [roundCropper]="true" (imageCropped)="imageCropped($event)"></image-cropper>
                              <div class="flex justify-end m-2">
                                    <button
                                          class="bg-primary text-white hover:bg-transparent hover:text-primary border border-primary text-sm rounded-md py-1 px-4"
                                          (click)="onDone()">Done</button>
                              </div>
                        </p-dialog>
                  </form>
            </div>
      </div>
</div>