<app-loader *ngIf="loading"></app-loader>
<div class="min-h-screen md:p-6 p-4 mx-auto mt-5">
      <section class="md:p-8 bg-white p-4 antialiased rounded-lg h-full">
            <div class="2xl:px-0">
                  <div class="lg:grid lg:grid-cols-3 lg:gap-8 xl:gap-16">
                        <div class="shrink-0 rounded-2xl ">
                              <img class="w-full rounded-2xl h-[400px] object-cover
                              " [src]="baseUrl + projectMedia?.image_1URL" alt="" />
                        </div>
                        <div class="mt-6 sm:mt-8 lg:mt-0 col-span-2">
                              <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl mb-0">
                                    {{projectInfo?.project_name}}
                              </h1>
                              <h1 class="text-gray-900">
                                    {{projectInfo?.project_subtitle}}
                              </h1>
                              <p class="text-gray-700 mt-3"><span class="font-semibold ">Total credits : </span> <span
                                          class="text-black">{{projectInfo?.credits}} tCO₂e</span></p>

                              <div class="flex items-center justify-between mt-2">
                                    <p class=" text-gray-700"><span class="font-semibold">Remaining credits : </span>
                                          <span class="text-black">{{projectInfo?.remaining_credit}} tCO₂e</span>
                                    </p>
                              </div>
                              <div class="mt-2 grid items-center gap-2 lg:gap-4 lg:flex">
                                    <p class="mb-0"><span class="font-semibold font-sm">Start Date :
                                          </span>{{projectInfo?.start_date | date:'mediumDate'}}
                                    </p>
                                    <span class="hidden lg:flex">|</span>
                                    <p class="mb-0"><span class="font-semibold font-sm">Country :
                                          </span>{{projectInfo?.country}}</p>
                                    <span class="hidden lg:flex">|</span>
                                    <p class="mb-0"><span class="font-semibold font-sm">Location :
                                          </span>{{projectInfo?.location}}</p>
                              </div>


                              <hr class="my-6 md:my-4 border-gray-200" />

                              <p class="mb-2 text-gray-500" [innerHTML]="projectInfo?.project_short_desc">
                              </p>

                              <h3><span class="text-2xl font-bold">₹7000</span> <span class="font-medium"> /
                                          tCO₂e</span></h3>
                              <div class="mt-8 sm:gap-4 sm:items-center sm:flex grid gap-2">
                                    <a (click)="addToCart(projectInfo)" title=""
                                          class="text-primary bg-transparent px-6 py-2 hover:bg-primary hover:text-white rounded-md border border-primary flex items-center space-x-2 font-medium"
                                          role="button">
                                          <svg class="w-5 h-5 -ms-2 me-2" aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                                viewBox="0 0 24 24">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                      stroke-linejoin="round" stroke-width="2"
                                                      d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6" />
                                          </svg>
                                          Add to cart
                                    </a>
                                    <a (click)="addToCart(projectInfo)" title=""
                                          class="text-white bg-primary px-6 py-2 hover:bg-transparent hover:text-primary rounded-md border border-primary flex items-center space-x-2 font-medium"
                                          role="button">
                                          Buy Now
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
</div>