<!-- <div class="container p-4">
    <div class="grid grid-cols-2 gap-3">
        <div class="col-span-2">
            <div class="flex justify-between align-center">
                <strong>Name :</strong>
                <span>{{userData.name}}</span>
            </div>
        </div>
        <div class="col-span-2">
            <div class="flex justify-between align-center">
                <strong>Email :</strong>
                <span>{{userData.email}}</span>
            </div>
        </div>
        <div class="col-span-2">
            <div class="flex justify-between align-center">
                <strong>Role :</strong>
                <span>{{userData.role}}</span>
            </div>
        </div>
        <div class="col-span-2">
            <div class="flex justify-between align-center">
                <strong>Status :</strong>
                <span [ngClass]="userData.status == 1 ? 'text-primary' : 'text-red-500'">{{ userData.status == 1 ?
                    'Active' : 'Inactive' }}</span>
            </div>
        </div>
    </div>
</div> -->


<div class="bg-white overflow-hidden shadow rounded-lg border">
    <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            User Profile
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
            This is some information about the user.
        </p>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Full name
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    John Doe
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Email address
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    johndoeexample.com
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Phone number
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    (123) 456-7890
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Address
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    123 Main St<br>
                    Anytown, USA 12345
                </dd>
            </div>
        </dl>
    </div>