<app-loader *ngIf="loading"></app-loader>
<div class="max-w-4xl mx-auto bg-white shadow-md rounded-lg p-6">
    <div class="flex items-center space-x-4">
        <div class="w-24 h-24 bg-gray-200 rounded-full border border-primary"
            (click)="vievImage(userData?.profile_image)">
            <img [src]="userData?.profile_image" alt="Profile Image" class="rounded-full w-full h-full">
        </div>
        <div>
            <h1 class="text-xl font-bold text-gray-800">{{ userData?.first_name }} {{ userData?.last_name }}</h1>
            <p class="text-gray-600">{{ userData?.email }}</p>
            <p class="text-gray-600">Phone: {{ userData?.phone_number }}</p>
        </div>
    </div>

    <div class="mt-6 space-y-4">
        <div>
            <h2 class="text-lg font-semibold text-gray-700">Address</h2>
            <p class="text-gray-600">{{ userData?.address }}, {{ userData?.city }}, {{ userData?.state }}, {{
                userData?.country }}</p>
        </div>
        <div>
            <h2 class="text-lg font-semibold text-gray-700">Company</h2>
            <p class="text-gray-600">{{ userData?.company_name }}</p>
        </div>
    </div>
</div>