<app-loader *ngIf="loading"></app-loader>
@if(!loading){
<div class="max-w-4xl mx-auto bg-white rounded-lg p-6">
    <div class="flex items-center md:space-x-4 space-x-0 flex-wrap">
        <div class="w-24 h-24 bg-gray-200 rounded-full border border-primary"
            (click)="vievImage(userData?.profile_image)">
            <img [src]="userData?.profile_image ? userData.profile_image : 'assets/images/profile_logo.jpg'"
                alt="Profile Image" class="rounded-full w-full h-full">
            <!-- <img [src]="findImg(userData.id) ? findImg(userData.id) : 'assets/images/profile_logo.jpg'"
                alt="Profile Image" class="rounded-full w-full h-full"> -->
        </div>
        <div>
            <h1 class="text-xl font-bold text-gray-800">{{ userData?.first_name }} {{ userData?.last_name }}</h1>
            <p class="text-gray-600">{{ userData?.email }}</p>
            <p class="text-gray-600">Phone: {{ userData?.phone_number }}</p>
        </div>
    </div>

    <div class="mt-6 space-y-4">
        <div>
            <h2 class="text-lg font-semibold text-gray-700">Address</h2>
            <p class="text-gray-600">{{ userData?.address }}, {{ userData?.city }}, {{ userData?.state }}, {{
                userData?.country }}</p>
        </div>
        <div>
            @if(userData?.company_name && userData?.company_name !== 'undefined'){
            <h2 class="text-lg font-semibold text-gray-700">Company Detail</h2>
            <p class="mt-1 text-sm text-gray-700"><span class="font-medium">Company Name : </span>
                {{ userData?.company_name }}
            </p>
            }
            @if(userData?.gst_number && userData?.gst_number !== 'undefined'){
            <p class="mt-1 text-sm text-gray-700"><span class="font-medium">GST Number: </span>
                {{ userData?.gst_number }}
            </p>
            }
            @if(userData?.license_number && userData?.license_number !== 'undefined'){
            <p class="mt-1 text-sm text-gray-700"><span class="font-medium">License Number : </span>
                {{ userData?.license_number }}
            </p>
            }
            @if(userData?.vat_number && userData?.vat_number !== 'undefined'){
            <p class="mt-1 text-sm text-gray-700"><span class="font-medium">VAT Number : </span>
                {{ userData?.vat_number }}
            </p>
            }
        </div>
    </div>
</div>
}